/* importing Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
      /* Use the Hogwarts castle image as the background */
      background-image: url('https://wallpapercave.com/wp/wp1822745.jpg');
      background-size: cover; /* Ensure the background image covers the entire viewport */
      background-attachment: fixed; /* Make the background image fixed */
  
}
  
  /* Pading for the containefr */
  .container {
    width: 90%; 
  margin: 0 auto;
  }
  
  /*Styling and adding padding for Header */
  h1 {
    font-family:cursive;
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: red;
    font-size: 50px;
  }

  /* styling for paragraph tag */
  .characters{
    color: gold ;
    font-size: x-large;
    font-family: cursive;
    font-style: italic;
    padding: 10px;
  }
  /* styling for h2 tag */
  h2{
    font-family: cursive;
    
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 30px; 
    color: red;
    font-size: 30px;
  }
  /* Setting Card Styles & Padding*/
  .card {
    background: #1f1f1fa1;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #f4f0f0;
    padding: 20px;
  }
  
  /* Setting hover for cards */
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  
  .card-title {
    font-size: 1.4rem; 
    margin-top: 10px;
    color: greenyellow; 
    font-family: cursive; 
  }
  
  .card-body {
    font-size: 1.1rem;
    font-weight: 400; 
  }
  


  /* Setting responsiveness for the website for all devices */
@media (min-width: 768px) {
    .container {
      width: 70%;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      width: 90%;
    }
  }